<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context-5.0.2.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="t1" class="kr.hs.study.beans.Number" lazy-init="true">
        <constructor-arg value="spring" index="0"/>
        <constructor-arg value="summer" index="1" />
    </bean>

    <bean id="t2" class="kr.hs.study.beans.Number" lazy-init="true">
        <constructor-arg value="2" type="int"/>
        <constructor-arg value="3" type="int"/>
        <constructor-arg value="4" type="int"/>
    </bean>

    <bean id="t3" class="kr.hs.study.beans.Number" lazy-init="true">
        <constructor-arg value="50" type="int"/>
        <constructor-arg value="40" type="int" />
    </bean>

    <bean id="t4" class="kr.hs.study.beans.Number" lazy-init="true">
        <constructor-arg value="44"/>
    </bean>

    <bean id="t6" class="kr.hs.study.beans.Number" lazy-init="true">
        <constructor-arg value="3" type="int"/>
        <constructor-arg value="4" type="int"/>
        <constructor-arg value="5" type="int"/>
    </bean>

    <bean id="t7" class="kr.hs.study.beans.Number" lazy-init="true">
        <constructor-arg value="80" type="int"/>
        <constructor-arg value="100" type="int"/>
        <constructor-arg value="20" type="int"/>
    </bean>

    <bean id="t8" class="kr.hs.study.beans.Number" lazy-init="true">
        <constructor-arg value="80" type="int"/>
        <constructor-arg value="100" type="int"/>
        <constructor-arg value="20" type="int"/>
        <constructor-arg value="60" type="int"/>
        <constructor-arg value="70" type="int"/>
    </bean>


</beans>